@page "/category/create"
@inject HttpClient http
@inject NavigationManager NavManager;

<h3>Registrar Categoria</h3>
<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" id="idBusNombre" @bind="category.Name" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary" @onclick="CreateCategory">Guardar</button>
        <button class="btn btn-secondary" @onclick="Index">Regresar</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <span style="color: red; font-weight: bold">@error</span>
    </div>
</div>

@code {
    categoryTable category = new categoryTable();

    private string error = string.Empty;

    public async Task CreateCategory()
    {
        try
        {
            var resultado = await http.PostAsJsonAsync("categoryTable", category);
            if (resultado.IsSuccessStatusCode)
            {
                Index();
            }
            else
            {
                error = "Error al ingresar el categoria";
            }
        }
        catch (Exception ex)
        {
            error = $"Error: {ex.Message}";
        }
    }

    void Index()
    {
        NavManager.NavigateTo("/category/index");
    }
}
